{% load static %}
<html>
<head>

    <title>
        {% block title %}
        basic page
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FeedBook</a>
        <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">All Messages</a>
                <a class="nav-link" href="{% url 'create' %}">Create New Messages</a>
                 {% if request.session.name %}

                 <a class="nav-link text-success" href=""> welcome {{request.session.name}} </a>
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}

                <a class="nav-link" href="{% url 'login' %}">login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<h1>from basic html page </h1>

{% endblock %}

</body>
</html>