{% extends 'basic.html' %}
{% block title %}
Login Page
{% endblock %}
{% block nav %}
<div class="container" align="center">
    <h1 style="color:red" >Login Page</h1>
</div>
{% endblock %}

{% block content %}
<div class="container" align="center">
    <div class="card" style="width: 40rem;">
        <div class="card-body">

            <h5 class="card-title">Enter Login Details Here</h5>
            <form method="post">
                {% csrf_token %}

             <input type="text" name="tbusername" class="form-control" placeholder="Enter Your UserName"/><br/>
                <input type="password" name="tbpass1" class="form-control" placeholder="Enter Your Pasword"/><br/>

                <input type="submit" value="Login" class="form-control btn btn-success "/><br/>

            </form>
            <a href="{% url 'register' %}" class="btn btn-outline-primary"> Not Registered Click here to Register </a>
        </div>
    </div>
</div>


{% endblock %}
